@import "_colors.scss";

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  h1 {
    margin: 0;
    padding-left: 15px;
  }

  input {
    width: 97%;
    padding: 12px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: "Montserrat";

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  .root {
    display: grid;
    grid-template-areas:
      "header header header"
      "gap__left main main"
      "footer footer footer";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows:
      70px
      1fr
      50px;

    max-height: 100vh;
    min-height: 100vh;
    font-family: "Montserrat";
    background-color: $root-bck;
    color: $root-clr;

    .root__header {
      grid-area: header;
    }
    .root__footer {
      grid-area: footer;
    }
    .root__main {
      grid-area: main;
      overflow-y: auto;
      padding-right: 150px;
      margin-top: 30px;
    }
    .root__left {
      grid-area: gap__left;
    }
    .root__right {
      grid-area: gap__right;
    }
  }
}

/* W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: $linkPink $root-bck;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $root-bck;
}
*::-webkit-scrollbar-thumb {
  background-color: $linkPink;
  border-radius: 20px;
  border: 3px solid $root-bck;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

//*,
a {
  color: #fff;
}

a {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: $linkPink;
  }

  &:hover {
    color: $linkPink;

    &::before {
      background: linear-gradient(to right, $linkPink 40%, $linkPurple 75%);
    }
  }
}

@media screen and (max-width: 600px) {
  #root {
    grid-template-areas:
      "header"
      //"navigation"
      "main"
      //"ads"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows:
      100px
      //50px
      1fr
      //50px
      30px;

    .root__main {
      padding-right: 0;
    }
    .root__left {
      display: none;
    }
    .root__right {
      display: none;
    }
  }
}
