@import "_colors.scss";

nav {
  padding: 10px 20px;
  font-size: 1.5rem;
  height: 70px;

  @media (max-width: 600px) {
    padding: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, fit-content(100px)) repeat(
        2,
        fit-content(50px)
      );
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;

    @media (min-width: 600px) {
      grid-template-columns: repeat(3, fit-content(200px)) 1fr repeat(
          2,
          fit-content(100px)
        );
      grid-gap: 20px;
      justify-items: end;
    }

    li {
      cursor: pointer;
      input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
      }
    }

    .fullwidth {
      grid-column: 1 / 3;

      @media (min-width: 600px) {
        grid-column: 1 / 2;
        justify-self: start;
      }
    }

    .selected {
      color: $linkPink;
    }
  }

  a {
    font-size: 1.25rem;

    @media (min-width: 42em) {
      font-size: 2rem;
    }
  }

  #buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;

    a {
      text-decoration: none;
      color: #ffffff;
      display: block;
    }

    a:hover {
      text-decoration: none;
      color: #000000;
      background-color: #33b5e5;
    }
  }
}
